<%= form_for(@discipline, :url => @url) do |f| %>
  <% if @discipline.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@discipline.errors.count, "error") %> prohibited this discipline from being saved:</h2>

      <ul>
      <% @discipline.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <h2>Associated Skills</h2>
  <select multiple="true" name="skills[]">
      <% @skills.each do |skill| %>
          <option value="<%= skill.title %>" <%= 'selected' if @selected_skills.include?(skill) %>><%= skill.title %></option>
      <% end %>
  </select>
  <div class="actions">
    <%= f.submit "Submit", :class => "action-button" %>
  </div>
<% end %>
