<% content_for :head do %>
    <hgroup>
        <h1>
            <%= decode(@discipline.title).titleize %>
        </h1>
    </hgroup>
<% end %>

<% content_for :main do %>
    <section class="primary">
        <hgroup>
            <h1>Skills</h1>
        </hgroup>
        <%= render :partial => 'skills/small_list', :locals => { :skills => @skills, :user => @user, :resume => @resume } %>

        <% if is_user_match? %>
            <a href="<%= edit_discipline_path(:user_id => @user.id, :id => @discipline.id) %>" class="link-to-editable" title="">
                Associate <%= 'more ' if @skills.count > 0 %>skills with this discipline
            </a>
        <% end %>
    </section>

    <section class="secondary">
        <hgroup>
            <h1>Jobs</h1>
            <h2>Jobs involving skills in this discipline:</h2>
        </hgroup>
        <%= render :partial => 'jobs/small_list', :locals => { :jobs => @jobs, :user => @user, :resume => @resume } %>
    </section>
<% end %>