<%= form_for(@user_software) do |f| %>
  <% if @user_software.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_software.errors.count, "error") %> prohibited this user_software from being saved:</h2>

      <ul>
      <% @user_software.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :software_id %><br />
    <%= f.number_field :software_id %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", :class => "action-button" %>
  </div>
<% end %>
