<h1>Listing user_softwares</h1>

<table>
  <tr>
    <th>User</th>
    <th>Software</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_softwares.each do |user_software| %>
  <tr>
    <td><%= user_software.user_id %></td>
    <td><%= user_software.software_id %></td>
    <td><%= link_to 'Show', user_software %></td>
    <td><%= link_to 'Edit', edit_user_software_path(user_software) %></td>
    <td><%= link_to 'Destroy', user_software, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User software', new_user_software_path %>
