<% content_for :head do %>
    <% if @job.errors.any? %>
        <p class="error-explanation">
            <%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved.
        </p>
    <% end %>
<% end %>
<%= form_for @job, :url => @url do |f| %>
        <label for="job_title">Title (required)</label>
        <input type="text" class="medium" id="job_title" name="job[title]" placeholder="e.g. Lead Interaction Designer" value="<%= @job.title %>" />
        <%= render :partial => "common/form_error", :locals => { :model => @job, :field => "title" } if @job.errors[:title].count > 0 %>
        
        <label for="job_employer">Employer/Client (required)</label>
        <input type="text" class="medium" id="job_employer" name="job[employer]" placeholder="e.g. Groogle, Inc." value="<%= @job.employer %>" />
        <%= render :partial => "common/form_error", :locals => { :model => @job, :field => "employer" } if @job.errors[:employer].count > 0 %>
    
        <%= f.label :status, "Employment status" %>
        <select id="job_status" name="job[status]">
            <% Job.status_options.each do |status| %>
                <option value="<%= status %>" <%= 'selected' if status == @job.status %>><%= status %></option>
            <% end %>
        </select>     
        <%= render :partial => "common/form_error", :locals => { :model => @job, :field => "status" } if @job.errors[:status].count > 0 %>
    
        <label for="job_project">Project</label>
        <input type="text" class="medium" id="job_project" name="job[project]" placeholder="e.g. Secret Encryption Algorithm" value="<%= @job.project %>" />
        <%= render :partial => "common/form_error", :locals => { :model => @job, :field => "project" } if @job.errors[:project].count > 0 %>
    
        <label for="job_url">URL</label>
        <input type="url" class="medium" id="job_url" name="job[url]" value="<%= @job.url %>" />
        <%= render :partial => "common/form_error", :locals => { :model => @job, :field => "url" } if @job.errors[:url].count > 0 %>
    
        <label for="job_start_month">Start date</label>
        <select id="job_start_month" name="job[start_month]">
            <% Job.months_as_text[1..12].each_with_index do |val, i| %>
                <option <%= 'selected="selected"' if @job.start_month == i+1 %> value="<%= i+1 %>"><%= val %></option>
            <% end %>
        </select>
        <%= select_year((!@job.start_year.nil? ? @job.start_year : Time.now.year - 1), {:start_year => (!@job.start_year.nil? ? @job.start_year - 5 : Time.now.year - 20), :end_year => Time.now.year}, {:name => 'job[start_year]', :id => 'job_start_year'}) %>

        <%= render :partial => "common/form_error", :locals => { :model => @job, :field => "start_month" } if @job.errors[:start_month].count > 0 %>
        <%= render :partial => "common/form_error", :locals => { :model => @job, :field => "start_year" } if @job.errors[:start_year].count > 0 %>
    
        <label for="job_end_month">End date</label>
        <select id="job_end_month" name="job[end_month]">
            <% Job.months_as_text[0..12].each_with_index do |val, i| %>
                <option <%= 'selected="selected"' if @job.end_month == i %> value="<%= i %>"><%= val %></option>
            <% end %>
        </select>
        <%= select_year((!@job.end_year.nil? ? @job.end_year : Time.now.year), {:start_year => (!@job.end_year.nil? ? @job.end_year - 5 : Time.now.year - 20), :end_year => Time.now.year}, {:name => 'job[end_year]', :id => 'job_end_year'}) %>

        <%= render :partial => "common/form_error", :locals => { :model => @job, :field => "end_month" } if @job.errors[:end_month].count > 0 %>
        <%= render :partial => "common/form_error", :locals => { :model => @job, :field => "end_year" } if @job.errors[:end_year].count > 0 %>
    
        <label for="job_short_desc">Short description (required)</label>
        <textarea class="wide" rows="5" id="job_short_desc" name="job[short_desc]"><%= @job.short_desc %></textarea>
        <%= render :partial => "common/form_error", :locals => { :model => @job, :field => "short_desc" } if @job.errors[:short_desc].count > 0 %>
    
        <label for="job_long_desc">Long description</label>
        <textarea class="wide" rows="20" id="job_long_desc" name="job[long_desc]"><%= @job.long_desc %></textarea>
        <%= render :partial => "common/form_error", :locals => { :model => @job, :field => "long_desc" } if @job.errors[:long_desc].count > 0 %>
    
        <label for="job_reason">Reason for leaving</label>
        <textarea class="wide" rows="4" id="job_reason" name="job[reason]"><%= @job.reason %></textarea>
        <%= render :partial => "common/form_error", :locals => { :model => @job, :field => "reason" } if @job.errors[:reason].count > 0 %>
    

    <fieldset class="job-skills" id="jobSkills">
        <h2>Skills</h2>
        <script type="text/hide" id="jobSkillsScriptTag">
            <ul class="suggester" id="jobSkillsDatalist">
                <% @u_skills.each do |skill| %>
                    <% if @skills.include?(skill) %>
                        <li class="in-use" title="Remove &rsquo;<%= skill.title %>&lsquo; from this job"><%= skill.title %></li>
                    <% else %>
                        <li title="Add &rsquo;<%= skill.title %>&lsquo; to this job"><%= skill.title %></li>
                    <% end %>
                <% end %>
            </ul>
        </script>
        <!--<label>Allowed characters: A-Z, 0-9, ., -, _, +</label>-->
        <textarea class="wide" rows="4" name="skills" placeholder="e.g. running, jumping, skipping, carpentry"><%= @skills.collect{ |x| x.title }.join(", ") %><%= ", " if @softwares.count > 0 %></textarea>

      <% if @job.skills.count <= 1 %>
            <p class="form-explanation wide">
                <strong>What skills did you use in this job?</strong>
                Separated by commas. You&rsquo;ll be able to associate these same skills with other jobs, too.
            </p>
        <% end %>
    </fieldset>

    <fieldset class="job-softwares" id="jobSoftwares">
        <h2>Software/tools</h2>
         <script type="text/hide" id="jobSoftwaresScriptTag">
            <ul class="suggester" id="jobSoftwaresDatalist">
                <% @u_softwares.each do |software| %>
                    <% if @softwares.include?(software) %>
                        <li class="in-use" title="Remove &rsquo;<%= software.title %>&lsquo; from this job"><%= software.title %></li>
                    <% else %>
                        <li title="Add &rsquo;<%= software.title %>&lsquo; to this job"><%= software.title %></li>
                    <% end %>
                <% end %>
            </ul>
        </script>
        <!--<label>Allowed characters: A-Z, 0-9, ., -, _, +</label>-->
        <textarea class="wide" rows="4" name="softwares" placeholder="e.g. photoshop, excel, illustrator"><%= @softwares.collect{ |x| x.title }.join(", ") %><%= ", " if @softwares.count > 0 %></textarea>

        <% if @job.softwares.count <= 1 %>
            <p class="form-explanation wide">
                <strong>What tools and software programs (apps, APIs, source control) did you use in this job?</strong>
                Separated by commas. You&rsquo;ll be able to associate these same software programs with other jobs, too.
            </p>
        <% end %>
    </fieldset>

    <% if @resumes.count > 0 %>
        <fieldset class="job-resumes">
            <h2>What resumes would you like this job to appear on?</h2>
            <select multiple name="resume_ids[]" class="medium">
                <% @resumes.each do |rez| %>
                    <option value="<%= rez.id %>" <%= 'selected' if (@j_resumes and @j_resumes.include?(rez)) or rez == @resume %>><%= rez.title %></option>
                <% end %>
            </select>

            <% if @job.resumes.count == 0 %>
                <p class="form-explanation medium">
                    <strong>This is optional for now</strong>, but no one will see this job until it&rsquo;s assigned to one or more resumes.
                </p>
            <% end %>
        </fieldset>
     <% else %>
        <h2>You haven&rsquo;t created any resumes yet.</h2>
        <p class="form-explanation medium">
            <strong>This is no big deal</strong>, but no one will see this job until it&rsquo;s assigned to one or more resumes.
            You can <a href="<%= new_resume_path({:user => @user}) %>" target="_blank" title="Create a new resume">create one now</a>
            or later.
        </p>
    <% end %>

    <div class="actions">
        <%= f.submit "Save", :class => "action-button" %>
    </div>
<% end %>
<% content_for :body_scripts do %>
    <script>
        require(['top/skill_software_suggester'], function(SkillSoftwareSuggester) {
            SkillSoftwareSuggester.init("#jobSkillsScriptTag", "[name='skills']");
            SkillSoftwareSuggester.init("#jobSoftwaresScriptTag", "[name='softwares']");
        });
    </script>
<% end %>
