<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <% if !params[:resume_id].nil? %>
        <h2>Resum&eacute;: <%= @resume.title %></h2>
        <input type="hidden" name="resume_id" value="<%= params[:resume_id] %>" />
    <% end %>

    <div class="field">
        <label for="job_title">Title (required)</label><br />
        <input type="text" id="job_title" name="job[title]" placeholder="e.g. Lead Interaction Designer" />
    </div>
    <div class="field">
        <label for="job_employer">Employer/Client</label><br />
        <input type="text" id="job_employer" name="job[employer]" placeholder="e.g. Groogle, Inc." />
    </div>
    <div class="field">
        <%= f.label :status, "Employment status" %><br />
        <select id="job_status" name="job[status]">
            <% Job.status_options.each do |status| %>
                <option value="<%= status %>"><%= status %></option>
            <% end %>
        </select>
    </div>
    <div class="field">
        <label for="job_project">Project</label><br />
        <input type="text" id="job_project" name="job[project]" placeholder="e.g. Secret Encryption Algorithm" />
    </div>
    <div class="field">
        <label for="job_url">URL</label><br />
        <input type="url" id="job_url" name="job[url]" />
    </div>
    <div class="field">
        <label for="job_start_month">Start date (mm/yyyy)</label><br />
        <input type="number" min="1" max="12" step="1" id="job_start_month" name="job[start_month]" size="2" pattern="(1[0-2])|([1-9])" />
        /
        <input type="number" min="1900" max="2020" step="1" id="job_start_year" name="job[start_year]" size="4" pattern="(19[0-9][0-9])|(20[0-2][0-9])" />
    </div>
    <div class="field">
        <label for="job_end_month">End date (mm/yyyy)</label><br />
        <input type="number" min="1" max="12" step="1" id="job_end_month" name="job[end_month]" size="2" pattern="(1[0-2])|([1-9])" />
        /
        <input type="number" min="1900" max="2020" step="1" id="job_end_year" name="job[end_year]" size="4" pattern="(19[0-9][0-9])|(20[0-2][0-9])" />
    </div>
    <div class="field">
        <label for="job_short_desc">Short description</label><br />
        <textarea cols="60" rows="10" id="job_short_desc" name="job[short_desc]"></textarea>
    </div>
    <div class="field">
        <label for="job_long_desc">Long description</label><br />
        <textarea cols="60" rows="20" id="job_long_desc" name="job[long_desc]"></textarea>
    </div>
    <div class="field">
        <label for="job_reason">Reason for leaving</label><br />
        <textarea cols="60" rows="4" id="job_reason" name="job[reason]"></textarea>
    </div>

    <% if @job.skills.count <= 1 %>
        <p class="form-explanation">
            <strong>What skills did you use in this job?</strong>
            Separated by commas. You&rsquo;ll be able to associate these same skills with other jobs, too.
        </p>
    <% end %>
    <fieldset class="job-skills">
        <h2>Skills:</h2>
        <textarea name="skills" placeholder="e.g. running, jumping, skipping, carpentry"><%= @skill_titles.join(", ") %></textarea>
    </fieldset>

    <% if @job.softwares.count <= 1 %>
        <p class="form-explanation">
            <strong>What software programs (apps, APIs, source control) did you use in this job?</strong>
            Separated by commas. You&rsquo;ll be able to associate these same software with other jobs, too.
        </p>
    <% end %>
    <fieldset class="job-softwares">
        <h2>Software programs:</h2>
        <textarea name="softwares" placeholder="e.g. photoshop, excel, illustrator"><%= @software_titles.join(", ") %></textarea>
    </fieldset>
    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>
