<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <% if !params[:resume_id].nil? %>
        <h2>Resum&eacute;: <%= @resume.title %></h2>
        <input type="hidden" name="resume_id" value="<%= params[:resume_id] %>" />
    <% end %>

    <div class="field">
        <%= f.label :title, "Title (required)" %><br />
        <%= f.text_field :title %>
    </div>
    <div class="field">
        <%= f.label :employer, "Employer/Client" %><br />
        <%= f.text_field :employer %>
    </div>
    <div class="field">
        <%= f.label :status %><br />
        <%= f.text_field :status %>
    </div>
    <div class="field">
        <%= f.label :project %><br />
        <%= f.text_field :project %>
    </div>
    <div class="field">
        <%= f.label :url, "URL" %><br />
        <input type="url" id="job_url" name="job[url]" />
    </div>
    <div class="field">
        <%= f.label :start_month, "Start date (mm/yyyy)" %><br />
        <input type="number" min="1" max="12" step="1" id="job_start_month" name="job[start_month]" size="2" pattern="(1[0-2])|([1-9])" />
        /
        <input type="number" min="1900" max="2020" step="1" id="job_start_year" name="job[start_year]" size="4" pattern="(19[0-9][0-9])|(20[0-2][0-9])" />
    </div>
    <div class="field">
        <%= f.label :end_month, "Start date (mm/yyyy)" %><br />
        <input type="number" min="1" max="12" step="1" id="job_end_month" name="job[end_month]" size="2" pattern="(1[0-2])|([1-9])" />
        /
        <input type="number" min="1900" max="2020" step="1" id="job_end_year" name="job[end_year]" size="4" pattern="(19[0-9][0-9])|(20[0-2][0-9])" />
    </div>
    <div class="field">
        <%= f.label :short_desc, "Short description" %><br />
        <%= f.text_area :short_desc %>
    </div>
    <div class="field">
        <%= f.label :long_desc, "Long description" %><br />
        <%= f.text_area :long_desc %>
    </div>
    <div class="field">
        <%= f.label :reason, "Reason for leaving" %><br />
        <%= f.text_area :reason %>
    </div>

    <% if @job.skills.count <= 1 %>
        <p class="form-explanation">
            <strong>What skills did you use in this job?</strong>
            Separated by commas. You&rsquo;ll be able to associate these same skills with other jobs.
        </p>
    <% end %>
    <fieldset class="job-skills">
        <h2>Skills:</h2>
        <textarea name="skills" placeholder="e.g. running, jumping, skipping, carpentry"><%= @skills.join(", ") %></textarea>
    </fieldset>

    <% if @job.softwares.count <= 1 %>
        <p class="form-explanation">
            <strong>What software programs (apps, APIs, source control) did you use in this job?</strong>
            Separated by commas. You&rsquo;ll be able to associate these same software with other jobs.
        </p>
    <% end %>
    <fieldset class="job-softwares">
        <h2>Software programs:</h2>
        <textarea name="softwares" placeholder="e.g. photoshop, excel, illustrator"><%= @softwares.join(", ") %></textarea>
    </fieldset>
    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>
