<%
  user ||= nil
  jobs ||= nil
%>

<table>
    <thead>
        <tr>
            <th class="d20">
                <%= render :partial => 'shared/sortable_link', :locals => { :header => 'Title', :column_name => 'title' } %>
            </th>
            <th class="d20">
                <%= render :partial => 'shared/sortable_link', :locals => { :header => 'Employer/Client', :column_name => 'employer' } %>
            </th>
            <th class="d15">
                <%= render :partial => 'shared/sortable_link', :locals => { :header => 'Years', :column_name => 'start_year' } %>
            </th>
            <th class="d35">
                <%= render :partial => 'shared/sortable_link', :locals => { :header => 'Brief Description', :column_name => 'short_desc' } %>
            </th>
            <% if is_user_match? %>
                <th class="d10"></th>
            <% end %>
        </tr>
    </thead>
    <tbody>
        <% jobs.each_with_index do |job, index| %>
            <% isAlt = (index == 1 || (index % 2) == 1) %>
            <%
                user = job.user
            %>
            <tr <% if isAlt then %>class="alt"<% end %>>
                <td>
                    <%= render :partial => 'jobs/link_to_job', :locals => {:job => job} %>
                </td>
                <td><%= decode(job.employer) %></td>
                <td>
                    <%= render :partial => 'years/link_to_year', :locals => {:year => job.start_year} %>
                    &ndash;
                    <%= render :partial => 'years/link_to_year', :locals => {:year => job.end_year} %>
                </td>
                <td>
                    <%= decode(job.short_desc) %>
                </td>
                <% if is_user_match? %>
                    <td>
                        <a href="<%= edit_job_path(user, job) %>" class="link-to-editable edit-link" title="Edit this resume" rel="internal">[edit]</a>
                        <a href="<%= confirm_delete_job_path(user, job) %>" class="link-to-editable delete-link" title="Delete this resume" rel="internal">[delete]</a>
                    </td>
                <% end %>
            </tr>
        <% end %>
    </tbody>
</table>

<% if is_user_match? %>
    <a href="<%= new_job_path(:user_id => user.id) %>" class="link-to-editable" rel="internal" title="Add a new job">
        Add a job
    </a>
<% end %>