<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
  </div>
  <% if params[:action] == "new" %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.text_field :email %>
      </div>
      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password %>
      </div>
      <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation %>
      </div>

      <fieldset>
          <label for="resume_title">Give your first resume a name</label><br />
          <%= text_field :resume, :title %>
      </fieldset>
  <% end %>
  <fieldset>
      <label for="disciplines">What disciplines do you work in?</label><br />
      <input type="text" name="disciplines[]" id="disciplines" placeholder="e.g. front-end development"/><br />
      <input type="text" name="disciplines[]" placeholder="e.g. information architecture"/><br />
      <input type="text" name="disciplines[]" placeholder="e.g. database architecture"/><br />
      <input type="text" name="disciplines[]" placeholder="e.g. content strategy"/>
      <p>Don't worry, you can always enter more later, or just skip this step altogether for now.</p>
  </fieldset>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
