<% content_for :header do %>
    <% if @user.phone.nil? or @user.phone.empty? %>
        <p class="message suggestion">
            You might want to add your contact information. You can do so <a href="<%= edit_user_path(@user) %>" class="link-to-editable" title="Edit your user profile">here</a>.
        </p>
    <% end %>
<% end %>

<% content_for :head do %>
    <hgroup>
        <h1>Your account</h1>
    </hgroup>
<% end %>

<% content_for :main do %>
    <section class="primary">
        <h1><a href="<%= resumes_path(@user) %>" title="See all your resumes">Your resumes</a></h1>
        <% if @resumes.count > 0 %>
            <%= render :partial => 'resumes/list', :locals => { :user => @user, :resumes => @resumes } %>
        <% end %>
        <% if is_user_match? %>
            <a href="<%= new_resume_path(:user_id => @user.id) %>" class="link-to-editable" title="Create a resume">
                Add <%= @resumes.count > 0 ? "another" : "a" %> resume to your account
            </a>
        <% end %>
    </section>

    <section class="secondary">
        <h1>Your contact information</h1>
        <%=  render :partial => "users/contact_info", :locals => {:user => @user, :show_edit_link => true } %>
    </section>

    <section class="primary">
        <h1><a href="<%= jobs_path(@user) %>" title="See all your jobs">Your jobs</a></h1>

        <% if @jobs %>
            <%= render :partial => 'jobs/small_list', :locals => { :user => @user, :resume => nil, :jobs => @jobs } %>
        <% end %>

        <% if is_user_match? %>
            <a href="<%= new_job_path(:user_id => @user.id) %>" class="link-to-editable" title="Add a new job">
                Add a job
            </a>
        <% end %>
    </section>

    <section class="secondary">
        <h1><a href="<%= disciplines_path(@user) %>" title="See all your disciplines">Your disciplines</a></h1>

        <ul class="disciplines-list">
            <li>
                <% @disciplines.each do |discipline| %>
                    <% skills = discipline.skills %>
                    <h2>
                        <%= render :partial => 'disciplines/link_to_discipline', :locals => {:user => @user, :discipline => discipline} %>
                    </h2>
                    <% if skills.count > 0 %>
                        <%= render :partial => 'skills/small_list', :locals => { :user => @user, :resume => nil, :skills => skills } %>
                    <% end %>
                    <% if is_user_match? %>
                        <a href="<%= edit_discipline_path(:user_id => @user.id, :id => discipline.id) %>" class="link-to-editable" title="">
                            Associate <%= 'more ' if skills.count > 0 %>skills with this discipline
                        </a>
                    <% end %>
                    <%# TODO %><br /><br />
                <% end %>
            </li>
        </ul>

        <% if is_user_match? %>
            <a href="<%= new_discipline_path(@user) %>" class="link-to-editable" title="Add a new discipline">Add disciplines</a>
        <% end %>
    </section>

    <section class="primary">
        <h1><a href="<%= skills_path(@user) %>" title="See all your skills">Your skills</a></h1>

        <% if @skills %>
            <%= render :partial => 'skills/small_list', :locals => { :user => @user, :resume => nil, :skills => @skills } %>
        <% end %>

        <% if is_user_match? %>
            <a href="<%= new_skill_path(:user_id => @user.id) %>" class="link-to-editable" title="">
                Add skills
            </a>
        <% end %>
    </section>

    <section class="primary">
        <h1><a href="<%= softwares_path(@user) %>" title="See all your softwares">Your software/tools</a></h1>

        <% if @softwares %>
            <%= render :partial => 'softwares/list', :locals => { :user => @user, :softwares => @softwares } %>
        <% end %>

        <% if is_user_match? %>
            <a href="<%= new_software_path(:user_id => @user.id) %>" class="link-to-editable" title="">
                Add softwares
            </a>
        <% end %>
    </section>
<% end %>