<% content_for :head do %>
    <p id="notice"><%= notice %></p>
    <% if @user.phone.nil? or @user.phone.empty? %>
        <p class="message suggestion">
            You might want to add your contact information. You can do so <a href="<%= edit_user_path(@user) %>" rel="internal" title="Edit your user profile">here</a>.
        </p>
    <% end %>
<% end %>

<% content_for :main do %>
    <section class="primary">
        <h1><a href="<%= resumes_path(@user) %>" rel="internal" title="See all your resumes">Your resumes</a></h1>
        <% if @resumes.count > 0 %>
            <%= render :partial => 'resumes/list', :locals => { :user => @user, :resumes => @resumes } %>
        <% end %>
        <a href="<%= new_resume_path(:user_id => @user.id) %>" rel="internal" title="Create a resume">
            [Add <%= @resumes.count > 0 ? "another" : "a" %> resume to your account]
        </a>
    </section>

    <section class="primary">
        <h1><a href="<%= jobs_path(@user) %>" rel="internal" title="See all your jobs">Your jobs</a></h1>

        <% if @jobs %>
            <%= render :partial => 'jobs/small_list', :locals => { :user => @user, :resume => nil, :jobs => @jobs } %>
        <% end %>

        <a href="<%= new_job_path(:user_id => @user.id) %>" rel="internal" title="Add a new job">
            [Add a job]
        </a>
    </section>

    <section class="secondary">
        <h1><a href="<%= disciplines_path(@user) %>" rel="internal" title="See all your disciplines">Your disciplines</a></h1>

        <ul class="disciplines-list">
            <li>
                <% @disciplines.each do |discipline| %>
                    <% skills = discipline.skills %>
                    <h2>
                        <%= discipline.title.titlecase %>
                    </h2>
                    <% if skills.count > 0 %>
                        <%= render :partial => 'skills/small_list', :locals => { :user => @user, :resume => nil, :skills => skills } %>
                    <% end %>
                    <a href="<%= edit_discipline_path(:user_id => @user.id, :id => discipline.id) %>" rel="internal" title="">
                        [Associate <%= 'more ' if skills.count > 0 %>skills with this discipline]
                    </a>
                <% end %>
            </li>
        </ul>
    </section>

    <section class="secondary extended">
        <h1><a href="<%= skills_path(@user) %>" rel="internal" title="See all your skills">Your skills</a></h1>

        <% if @skills %>
            <%= render :partial => 'skills/small_list', :locals => { :user => @user, :resume => nil, :skills => @skills } %>
        <% end %>

        <a href="<%= new_skill_path(:user_id => @user.id) %>" rel="internal" title="">
            [Add skills]
        </a>
    </section>

    <section class="secondary extended">
        <h1><a href="<%= softwares_path(@user) %>" rel="internal" title="See all your softwares">Your software/tools</a></h1>

        <% if @softwares %>
            <%= render :partial => 'softwares/list', :locals => { :user => @user, :softwares => @softwares } %>
        <% end %>

        <a href="<%= new_software_path(:user_id => @user.id) %>" rel="internal" title="">
            [Add softwares]
        </a>
    </section>
<% end %>