<% content_for :head do %>
    <% if @skill.errors.any? %>
        <p class="error-explanation">
            <%= pluralize(@skill.errors.count, "error") %> prohibited this skill from being saved.
        </p>
    <% end %>
<% end %>

<%= form_for(@skill, :url => @url) do |f| %>
    <%= f.label :title %>
    <input id="skill_title" name="skill[title]" class="medium" type="text" value="<%= decode(@skill.title) %>" required>
    <%= render :partial => "common/form_error", :locals => { :model => @skill, :field => "title" } if @skill.errors[:title].count > 0 %>

    <% if is_admin_user? %>
        <%= f.label :abbreviation %>
        <%= f.text_field :abbreviation %>

        <%= f.label :slug %>
        <%= f.text_field :slug %>
    <% end %>

    <% if @disciplines %>
        <%= f.label :discipline_id %>
        <select id="discipline_id" name="discipline_id">
            <option>[Uncategorized]</option>
            <% @disciplines.each do |discipline| %>
                <option value="<%= discipline.id %>" <%= 'selected' if discipline == @skill.discipline(@user) %>><%= discipline.title %></option>
            <% end %>
        </select>
    <% end %>

    <div class="actions">
        <%= f.submit "Save", :class => "action-button" %>
    </div>
<% end %>
