<%= form_for(@skill, :url => @url) do |f| %>
    <% if @skill.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@skill.errors.count, "error") %> prohibited this skill from being saved:</h2>

            <ul>
                <% @skill.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field">
        <%= f.label :title %><br />
        <%= f.text_field :title %>
    </div>
    <% if is_admin_user? %>
        <div class="field">
            <%= f.label :abbreviation %><br />
            <%= f.text_field :abbreviation %>
        </div>
        <div class="field">
            <%= f.label :slug %><br />
            <%= f.text_field :slug %>
        </div>
    <% end %>
    <div class="field">
        <% if @disciplines %>
            <%= f.label :discipline_id %><br />
            <select id="discipline_id" name="discipline_id">
                <% @disciplines.each do |discipline| %>
                    <option value="<%= discipline.id %>"><%= discipline.title %></option>
                <% end %>
            </select>
        <% end %>
    </div>
    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>
