<% content_for :head do %>
    <hgroup>
        <h1 class="primary-type-title skill-title">
          <%= decode(@skill.title) %>
        </h1>
    </hgroup>
<% end %>

<% content_for :main do %>
    <section class="primary">
        <h1>Positions involving <%= decode(@skill.title) %></h1>
        <%= render :partial => 'jobs/small_list' %>

        <% if current_user %>
            <%= link_to 'Edit', edit_skill_path(@skill) %> |
            <%= link_to 'Back', skills_path %>
        <% end %>
    </section>

    <% if @highlights.count >= 1 %>
        <section class="secondary associations associatedHighlights">
            <h1>Highlights:</h1>
            <%= render :partial => 'highlights/list' %>
        </section>
    <% end %>

    <section class="secondary">
        <h1>Years this skill was used</h1>
        <%= render :partial => 'years/list', :locals => { :years => @years } %>
    </section>
<% end %>