<% content_for :head do %>
    <hgroup>
        <h1 class="primary-type-title skill-title">
            <%= decode(@skill.title) %>
            <% if is_user_match? %>
                <a href="<%= confirm_delete_skill_path({:user_id => @user.id, :id => @skill.slug}) %>" class="link-to-editable delete-link" title="Delete this skill">[delete]</a>
            <% end %>
        </h1>
        <% if discipline = @skill.discipline(@user) %>
            <h2>Discipline: <%= render :partial => 'disciplines/link_to_discipline', :locals => { :discipline => discipline, :user => @user, :resume => @resume } %></h2>
        <% end %>
    </hgroup>
<% end %>

<% content_for :main do %>
    <section class="primary">
        <h1>Positions involving <%= decode(@skill.title) %></h1>
        <%= render :partial => 'jobs/small_list', :locals => {:jobs => @jobs, :user => @user, :resume => @resume } %>
    </section>

    <section class="secondary associations associated-highlights">
        <h1>Highlights:</h1>
        <% if !@highlights.nil? and @highlights.count >= 1 %>
            <%= render :partial => 'highlights/list', :locals => { :highlights => @highlights, :user => @user, :resume => @resume, :skill_id => @skill.id } %>
        <% else %>
            <% if is_user_match? %>
                <p>
                    <strong>Highlights put your skills in context</strong> A highlight is an example of how you used a particular
                    skill at a particular job.
                    <a href="<%= new_highlight_path(@user, :skill_id => @skill.id) %>" title="Add a highlight for this skill">Here&rsquo;s your chance</a>.
                </p>
            <% else %>
                <p>This user hasn&rsquo;t listed highlights for this skill.</p>
            <% end %>
        <% end %>
    </section>

    <section class="secondary">
        <h1>Years this skill was used</h1>
        <%= render :partial => 'years/list', :locals => { :years => @years, :user => @user, :resume => @resume } %>
    </section>
<% end %>