<% content_for :head do %>
    <% if @link.errors.any? %>
        <p class="error-explanation">
            <%= pluralize(@link.errors.count, "error") %> prohibited this skill from being saved.
        </p>
    <% end %>
<% end %>

<%= form_for(@link, :url => @url) do |f| %>
    <%= f.label :expiration %>
    <%= f.date_select :expiration, :order => [:month, :day, :year] %>
    <%= render :partial => "common/form_error", :locals => { :model => @link, :field => "expiration" } if @link.errors[:expiration].count > 0 %>

    <input type="hidden" name="link[resume_id]" id="link_resume_id" value="<%= @resume_id %>">
    <div class="actions">
        <%= f.submit "Save", :class => "action-button" %>
    </div>
<% end %>
