<%
  user ||= nil
  resume ||= nil
  links ||= nil
%>
<table>
    <tr>
        <th class="d40">URL</th>
        <th class="d20">
            <%= render :partial => 'shared/sortable_link', :locals => { :header => 'Expires', :column_name => 'expiration_date' } %>
        </th>
        <th class="d20">
            <%= render :partial => 'shared/sortable_link', :locals => { :header => 'Created', :column_name => 'created_at' } %>
        </th>
        <th class="d20"></th>
    </tr>

    <% links.each do |link| %>
        <tr class="<%= 'expired-link' if link.expired? %>">
            <td>
                <%= link.url %>
            </td>
            <td>
                <%= friendly_date(link.expiration_date) %>
            </td>
            <td>
                <%= friendly_date(link.created_at) %>
            </td>
            <td>
                <a href="<%= confirm_delete_resume_link_path({:user_id => user.id, :resume_id => resume.id, :id => link.id}) %>" class="link-to-editable delete-link" title="Delete this link (anyone you sent it to will lose access to this resume)">
                    delete
                </a>
            </td>
        </tr>
    <% end %>
</table>