<table>
    <tr>
        <th class="d40">URL</th>
        <th class="d30">
            <%= render :partial => 'shared/sortable_link', :locals => { :header => 'Expires', :column_name => 'expiration' } %>
        </th>
        <th class="d30">
            <%= render :partial => 'shared/sortable_link', :locals => { :header => 'Created', :column_name => 'created_at' } %>
        </th>
    </tr>

    <% links.each do |link| %>
        <tr class="<%= 'expired-link' if link.expired? %>">
            <td>
                <%= link.url %>
            </td>
            <td>
                <%= friendly_date(link.expiration) %>
            </td>
            <td>
                <%= friendly_date(link.created_at) %>
            </td>
        </tr>
    <% end %>
</table>