<% content_for :head do %>
    <% if @software.errors.any? %>
        <p class="error-explanation">
            <%= pluralize(@software.errors.count, "error") %> prohibited this software from being saved.
        </p>
    <% end %>
<% end %>

<%= form_for(@software, :url => @url) do |f| %>
    <%= f.label :title %>
    <input id="software_title" name="software[title]" class="medium" type="text" value="<%= decode(@software.title) %>" required>
    <%= render :partial => "common/form_error", :locals => { :model => @software, :field => "title" } if @software.errors[:title].count > 0 %>

    <% if is_admin_user? %>
        <%= f.label :slug %>
        <%= f.text_field :slug %>
    <% end %>

    <div class="actions">
        <%= f.submit "Save", :class => "action-button" %>
    </div>
<% end %>
