<%
  user ||= nil
  resume ||= nil
%>
<table>
    <tr>
        <th class="d40">
            <%= render :partial => 'shared/sortable_link', :locals => { :header => 'Title', :column_name => 'title' } %>
        </th>
        <th class="d40">
            Jobs
        </th>
    </tr>

    <% softwares.each do |software| %>
        <tr>
            <td>
                <%= render :partial => 'softwares/link_to_software', :locals => { :software => software, :user => user, :resume => resume, :abbreviated => false } %>
            </td>          
            <td>
                <a href="<%= software_jobs_path({:user_id => user.id, :resume_id => resume.id, :software_id => software.id}) %>" rel="internal" title="See all the jobs using this software">
                    <%= software.job_count %>
                </a>
            </td>
        </tr>
    <% end %>
</table>

<% if is_user_match? %>
    <a href="<%= new_software_path(:user_id => user.id) %>" class="link-to-editable" rel="internal" title="">
        Add softwares
    </a>
<% end %>