<h1>Listing resume_highlights</h1>

<table>
  <tr>
    <th>Resume</th>
    <th>Highlight</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @resume_highlights.each do |resume_highlight| %>
  <tr>
    <td><%= resume_highlight.resume_id %></td>
    <td><%= resume_highlight.highlight_id %></td>
    <td><%= link_to 'Show', resume_highlight %></td>
    <td><%= link_to 'Edit', edit_resume_highlight_path(resume_highlight) %></td>
    <td><%= link_to 'Destroy', resume_highlight, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Resume highlight', new_resume_highlight_path %>
