<p id="notice"><%= notice %></p>

<p>
  <b>Resume:</b>
  <%= @resume_highlight.resume_id %>
</p>

<p>
  <b>Highlight:</b>
  <%= @resume_highlight.highlight_id %>
</p>


<%= link_to 'Edit', edit_resume_highlight_path(@resume_highlight) %> |
<%= link_to 'Back', resume_highlights_path %>
