<%= form_for @resume, :url => @url do |f| %>
    <% if @resume.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@resume.errors.count, "error") %> prohibited this resume from being saved:</h2>

            <ul>
                <% @resume.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field">
        <label for="job_title">
            <% if params[:action] == "new" %>
                Name your new resume &hellip;</label>
            <% else %>
                Resume name
            <% end %>
        </label>
        <br />
        <%= f.text_field :title %>
    </div>

    <% if @user_jobs.count > 0 %>
        <div class="field">
            <label for="resume_jobs">
                <% if params[:action] == "new" %>&hellip; and choose<% else %>Choose<% end %> the jobs you want to display on this resume
            </label>
            <br />
            <select multiple name="resume_jobs[]" id="resume_jobs">
                <% @user_jobs.each do |job| %>
                    <option value="<%= job.id %>" <%= 'selected' if @resume.jobs.include?(job) %>><%= job.title %></option>
                <% end %>
            </select>
        </div>
    <% end %>
    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>
