<% content_for :head do %>
    <hgroup>
        <h1>Your resumes</h1>
    </hgroup>
<% end %>

<% content_for :main do %>
    <table>
        <tr>
            <th>
                <%= render :partial => 'shared/sortable_link', :locals => { :header => 'Title', :column_name => 'title' } %>
            </th>
            <th>
                <%= render :partial => 'shared/sortable_link', :locals => { :header => 'Date created', :column_name => 'created_at' } %>
            </th>
            <th>
                Jobs
            </th>
            <th>
                Unexpired links
            </th>
        </tr>

        <% @resumes.each do |resume| %>
            <tr>
                <td>
                    <%= render :partial => 'resumes/link_to_resume', :locals => {:user => @user, :resume => resume} %>
                </td>
                <td>
                    <%= friendly_date(resume.created_at) %>
                </td>
                <td>
                    <a href="<%= jobs_path({:resume_id => resume.id}) %>" rel="internal" title="Manage links for this resume">
                        <%= resume.job_count %>
                    </a>
                </td>
                <td>
                    <a href="<%= links_path({:resume_id => resume.id}) %>" rel="internal" title="See all jobs for this resume">
                        <%= resume.link_count %>
                    </a>
                </td>
            </tr>
        <% end %>
    </table>
<% end %>
