<% content_for :head do %>
    <hgroup>
        <h1>Your resumes</h1>
    </hgroup>
<% end %>

<% content_for :main do %>
    <table>
        <tr>
            <th>
                <%= render :partial => 'shared/sortable_link', :locals => { :header => 'Title', :column_name => 'title' } %>
            </th>
            <th>
                Jobs
            </th>
            <th>
                <%= render :partial => 'shared/sortable_link', :locals => { :header => 'Date created', :column_name => 'created_at' } %>
            </th>
        </tr>

        <% @resumes.each do |resume| %>
            <tr>
                <td>
                    <%= render :partial => 'resumes/link_to_resume', :locals => {:user => @user, :resume => resume} %>
                </td>
                <td>
                    <%= resume.job_count %>
                </td>
                <td>
                    <%= resume.created_at %>
                </td>
            </tr>
        <% end %>
    </table>
<% end %>
