<% content_for :head do %>
    <hgroup>
        <h1>
            <span class="fn"><%= @user.name %></span>, <%=  @resume.title %>
            <% if is_user_match? %>
                <a href="<%= edit_resume_path(@user, @resume) %>" class="link-to-editable edit-link" rel="internal" title="Edit this resume">[edit]</a>
                <a href="<%= confirm_delete_resume_path(@user, @resume) %>" class="link-to-editable delete-link" rel="internal" title="Delete this resume">[delete]</a>
            <% end %>
        </h1>
    </hgroup>
    <p class="adr">
        <% if @user.address.nil? or @user.address.empty? %>
            <% if is_user_match? %><a href="<%= edit_user_path(@user) %>" rel="internal" title="Edit your user profile">Add your address</a><% end %>
        <% else %>
            <%= @user.address %>
        <% end %>
    </p>
    <p class="tel">
        <% if @user.phone.nil? or @user.phone.empty? %>
            <% if is_user_match? %><a href="<%= edit_user_path(@user) %>" rel="internal" title="Edit your user profile">Add your phone</a><% end %>
        <% else %>
            <%= @user.phone %>
        <% end %>
    </p>
    <% if is_user_match? %>
        <a href="<%= links_path(@user, @resume) %>" class="link-to-editable" rel="internal" title="Share this resume by giving out links">Share this resume</a>
    <% end %>
<% end %>

<% content_for :main do %>
    <section class="primary">
        <h1><a href="/users/<%= @user.id %>/resumes/<%= @resume.id %>/jobs" rel="internal" title="See all jobs on this resume">Recent Positions/Projects</a></h1>

        <% if @jobs.count >= 1 %>
            <%= render :partial => "jobs/small_list", :locals => {:jobs => @jobs, :user => @user, :resume => @resume} %>
            [&hellip;] <a href="/users/<%= @user.id %>/resumes/<%= @resume.id %>/jobs" rel="internal" title="">See all jobs</a>
        <% end %>

        <br />
        <% if is_user_match? %>
            <a href="<%= edit_resume_path({:user_id => @user.id, :id => @resume.id}) %>" class="link-to-editable" rel="internal" title="Add a new job">Add jobs</a>
        <% end %>
    </section>
    <% if @disciplines.count >= 1 or is_user_match? %>
        <section class="secondary">
            <h1><a href="/users/<%= @user.id %>/resumes/<%= @resume.id %>/disciplines">Disciplines</a></h1>
            <%= render :partial => "disciplines/list", :locals => { :disciplines => @disciplines, :user => @user, :resume => @resume } %>
        </section>
    <% end %>

    <section class="secondary">
        <h1>
            <a href="/users/<%= @user.id %>/resumes/<%= @resume.id %>/softwares" rel="internal" title="See a list of tools and software applications I've used professionally">Tools/Software</a>
        </h1>

        <% if @softwares.count >= 1 %>
            <%= render :partial => "softwares/list", :locals => { :user => @user, :resume => @resume,  :softwares => @softwares, :abbreviated => true } %>
        <% end %>
    </section>

    <section class="secondary extended">
        <h1>
            <a href="/users/<%= @user.id %>/resumes/<%= @resume.id %>/skills" rel="internal" title="See a list of my skills">Skills</a>
        </h1>

        <% if @disciplines and @disciplines.count >= 1 %>
            <%= render :partial => "skills/small_list_by_discipline", :locals => { :user => @user, :resume => @resume, :disciplines => @disciplines, :skills => @uncategorized_skills } %>
        <% elsif @skills.count >= 1 %>
            <% if is_user_match? %>
                <p>
                    <strong>Your skills are orphans!</strong> Giving them disciplines will add some structure and clarity to your resume.
                    <a href="<%= skills_path(@user) %>" rel="internal" title="Organize skills under disciplines.">Right this way.</a>
                </p>
            <% end %>
            <%=  render :partial => "skills/small_list", :locals => { :user => @user, :resume => @resume, :skills => @skills } %>
        <% end %>
    </section>
<% end %>
