<% content_for :head do %>
    <p id="notice"><%= notice %></p>
<% end %>

<% content_for :main do %>
    <section class="primary">
        <h1>Recent Positions/Projects</h1>

        <% if @jobs.count >= 1 %>
            <%= render :partial => "jobs/small_list", :locals => {:user => @user, :resume => @resume} %>
            [&hellip;] <a href="<%= jobs_path(@user) %>" rel="internal" title="">See all jobs</a>
        <% end %>


        <%= link_to 'Add jobs', edit_resume_path(@resume) if @user_match %>
    </section>
    <% if @disciplines.count >= 1 or @user_match %>
        <section class="secondary">
            <% jobs_count = Job.count %>
            <h1>Disciplines</h1>
            <%= render :partial => "disciplines/list", :locals => { :disciplines => @disciplines } unless @disciplines.count == 0 %>

            <%= link_to 'Add disciplines', edit_resume_path(@resume) if @user_match %>
        </section>
    <% end %>

    <section class="secondary">
        <h1>
            <a href="/softwares" rel="internal" title="See a list of software applications I've used professionally">Software</a>
        </h1>

        <% if @softwares.count >= 1 %>
            <%= render :partial => "softwares/list", :locals => { :softwares => @softwares, :abbreviated => true} %>
        <% end %>
    </section>

    <section class="secondary extended">
        <h1>
            <a href="/skills" rel="internal" title="See a list of my skills">Skills</a>
        </h1>

        <% if @disciplines and @disciplines.count >= 1 %>
            <%= render :partial => "skills/small_list_by_discipline", :locals => { :user => @user, :resume => @resume, :disciplines => @disciplines, :skills => @skills } %>
        <% elsif @skills.count >= 1 %>
            <p>
                <strong>Your skills are orphans!</strong> Giving them disciplines will add some structure and clarity to your resume.
                <a href="<%= skills_path(@user) %>" rel="internal" title="Organize skills under disciplines.">Right this way.</a>
            </p>
            <%=  render :partial => "skills/small_list", :locals => { :user => @user, :resume => @resume, :skills => @skills } %>
        <% end %>
    </section>
<% end %>
