<%
    # TODO:
    # ID or slug for 'first_resource' link
    # title or ? for 'first_resource' text
    # if we're looking at 'first_resource', should it be linked? or even displayed?
    # should collections be linked to when we're looking at them?
    # need to use the friendly name of "softwares"
%>

<nav class="breadcrumbs">
    <ul>
        <% if @resume and !@resume.new_record? %>
            <li>
                Resume:
                <%=  render :partial => "resumes/link_to_resume", :locals => { :user => @user, :resume => @resume } %>
            </li>
        <% end %>
        <% if first_collection = @breadcrumbs.try(:[], 'first_collection') %>
            <li>
                <a href="/users/<%= @user.id %><%= '/resumes/' + @resume.id.to_s if @resume %>/<%= first_collection %>" title="See the <%= first_collection %> for this resume">
                    <%= first_collection.capitalize %>
                </a>
            </li>
            <% if params[:action] == "new" %>
                <li>
                    New <%= @breadcrumbs['first_collection'].singularize %>
                </li>
            <% elsif resource = @breadcrumbs.try(:[], 'first_resource')%>
                <li>
                    <%
                      case @breadcrumbs['first_collection']
                      when "years"
                        id = resource.value
                        title = resource.value
                      when "skills" || "software"
                        id = resource.slug
                        title = resource.title
                      else
                        id = resource.id
                        title = resource.title
                      end
                    %>
                    <a href="/users/<%= @user.id %><%= '/resumes/' + @resume.id.to_s if @resume %>/<%= first_collection %>/<%= id %>">
                        <%= title %>
                    </a>
                </li>
                <% if second_collection = @breadcrumbs.try(:[], 'second_collection') %>
                    <li>
                        <a href="/users/<%= @user.id %><%= '/resumes/' + @resume.id.to_s if @resume %>/<%= first_collection %>/<%= id %>/<%= second_collection %>" title="See the <%= second_collection %> for this <%= first_collection.singularize %>">
                            <%=  second_collection.capitalize %>
                        </a>
                    </li>
                <% end %>
            <% end %>
        <% end %>
    </ul>
</nav>