<% content_for :head do %>
    <hgroup>
        <h1>
              <%= @year.value %>
        </h1>
    </hgroup>
<% end %>

<% content_for :main do %>
    <section class="primary">
        <h1>
            <% if !@resume.nil?  %>
                <a href="<%= year_jobs_path({:user_id => @user.id, :resume_id => @resume.id, :year_id => @year.value}) %>" rel="internal" title="See jobs held in this year">
            <% end %>
                Positions held in <%= @year.value %>
            <% if !@resume.nil?  %></a><% end %>
        </h1>
        <%= render :partial => 'jobs/small_list', :locals => { :jobs => @jobs, :user => @user, :resume => @resume } %>
    </section>

    <section class="secondary extended">
        <h1>
            <% if !@resume.nil?  %>
                <a href="<%= year_skills_path({:user_id => @user.id, :resume_id => @resume.id, :year_id => @year.value}) %>" rel="internal" title="See skills used in this year">
            <% end %>
                Skills used in <%= @year.value %>
            <% if !@resume.nil?  %></a><% end %>
        </h1>
        <% if !@disciplines.nil? and @disciplines.count >= 1 %>
            <%= render :partial => 'skills/small_list_by_discipline', :locals => {:user => @user, :resume => @resume, :disciplines => @disciplines, :skills => @skills} %>
        <% else %>
            <%= render :partial => 'skills/small_list', :locals => {:user => @user, :resume => @resume, :skills => @skills} %>
        <% end %>
    </section>

    <section class="secondary extended">
        <h1>
            <% if !@resume.nil?  %>
                <a href="<%= year_softwares_path({:user_id => @user.id, :resume_id => @resume.id, :year_id => @year.value}) %>" rel="internal" title="See tools/software used in this year">
            <% end %>
                Tools/Software used in <%= @year.value %>
            <% if !@resume.nil?  %></a><% end %>
        </h1>
        <%= render :partial => "softwares/list", :locals => { :user => @user, :resume => @resume,  :softwares => @softwares } %>
    </section>
<% end %>