<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= yield :title %> R&eacute;sum&eacute;trix</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <link rel="stylesheet" type="text/css" href="/stylesheets/master.css" media="all" />
        <!--<link rel="stylesheet" type="text/css" href="/stylesheets/layout.css" media="all" />-->
        <link rel="stylesheet" type="text/css" href="/stylesheets/color.css" media="screen" />
    </head>
    <body class="<%= params[:controller] %> <%= params[:action] %>">
        <div id="wrapper">
            <div id="main">
                <p class="notice"><%= flash[:notice] %></p>
                <%= yield :head %>
                <%= yield :main %>
            </div>
            <header>
                <nav>
                </nav>
            </header>
            <footer>
                <p>Copyright Kyle Jacobson, 2011</p>
            </footer>
        </div>
        <script>
            var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-1350599-6']);
                _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'), s; 
                    ga.type = 'text/javascript'; 
                    ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                s = document.getElementsByTagName('script')[0]; 
                s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </body>
</html>
