<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title><%= yield :title %> Re-CV.com</title>
        <%= stylesheet_link_tag("master", :media => "all") %>
        <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet" type="text/css">
        <%= yield :stylesheets %>
    </head>
    <body class="<%= params[:controller] %> <%= params[:action] %>">
        <div id="wrapper">
            <header>
                <% if !flash[:notice].nil? %>
                    <p class="notice"><%= decode(flash[:notice]) %></p>
                <% end %>
                <%=  render :partial => 'common/breadcrumbs' %>
                <% if is_user_match? || preview_mode? || demo_resume? %>
                    <%=  render :partial => 'users/user_header' %>
                <% end %>
                <%=  yield :header %>
            </header>
            <article id="main">
                <header>
                    <%= yield :head %>
                </header>
                <%= yield :main %>
            </article>
            <footer>
                <p>Copyright Kyle Jacobson, 2013 | <a href="/disclaimer">Disclaimer, Colophon, etc.</a></p>
            </footer>
        </div>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-39988296-1', 're-cv.com');
          ga('send', 'pageview');
        </script>
    </body>
</html>
